// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
.imgHome{
background-image: url("https://media.licdn.com/dms/image/D4E16AQFn26pxHzxd8A/profile-displaybackgroundimage-shrink_200_800/0/1678125897453?e=2147483647&v=beta&t=IkYLqWHyv4PCNCs5Hw7eRIUxe1o-eQKN4b_u8AUvsqc");
background-position-x: 15%;
height: 110px;
}
.whImage{
	width: 200px;
	height: 200px;
}
